<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0" />
    <title>Servidor Express Socketio</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Chat de <span id="namespace"></span></h1>
    <ul id="chat"></ul>
    <button id="sendMessage">Enviar mensaje</button>
    
    <div class="container">
      <div class="div1"></div>
      <div class="div2"></div>
      <div class="div3"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
